# CONFIG_BUTTON_GAME_VARIANT_MASTER is not set
CONFIG_BUTTON_GAME_VARIANT_SLAVE=y
CONFIG_BUTTON_GAME_PIN_LED_POWER=15
CONFIG_BUTTON_GAME_PIN_LED_BUTTON=3
CONFIG_BUTTON_GAME_PIN_BUTTON=14

CONFIG_AUTOSTART_ARDUINO=y

CONFIG_FREERTOS_HZ=1000