CONFIG_BUTTON_GAME_VARIANT_MASTER=y
# CONFIG_BUTTON_GAME_VARIANT_SLAVE is not set
CONFIG_BUTTON_GAME_PIN_LED_POWER=21
CONFIG_BUTTON_GAME_PIN_LED_BUTTON=2
CONFIG_BUTTON_GAME_PIN_BUTTON=3

CONFIG_AUTOSTART_ARDUINO=y

CONFIG_FREERTOS_HZ=1000

CONFIG_SOC_USB_OTG_SUPPORTED=y
CONFIG_TINYUSB_HID_COUNT=1